<div id="container">
	<main>
    <section id="navbar" class="p-2 md:p-4 flex justify-between">
      <a href="https://astro.build">
        <img src="https://s3.amazonaws.com/static.khipu.com/buttons/2024/200x75-color.svg" width="115" height="48" alt="Astro Homepage" />
      </a>
      <img 
        id="open-cart"
        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAAAsTAAALEwEAmpwYAAABlElEQVR4nO2YvUoDQRSFPwVjQOwt/OnEB7AKvoKlqey0s8wb2LjaiG9gHwSxMjGFnTaCnfZuFCxUFCEpZCQwRZCZ3Z11dO7AfnCaLe6ew+y9dxmoqKioCM0S0AOGwBeQAsfACpHQA5RBA2CDCPiwBJCoAdAB5scDXAgwphx1/rMHuroHVCR6tX1OdeBRgEGVo7usnmgLMKhyNJqSVloCDKoc7WQFaAgwqHK0mhVgWo8rJVQD7TGTawFGlUVXFOBQgFFl0VGRAE0BRpVFm0UCLAgwqixapiAPAswqwwaeKBqgLf0fKA+JC20XByQutHWXAHWBC20ORyQttFtKIGmhbZUJ0BQ0fSbLBJCw0E6BGX5BGsD0M3DmOnVcFtpoR0RDyxDghIhoGAJ8AmtEwhTw8s89MNT3VYu+QhwEmkBdXwFmgfsAAd7xyOg+8ibWExjvh23gEnj74x7o+OyBConUgH19GdwHEv0sVB1nEsO3mwSs44zpGv4pYB1n+oYXpwHreDn6vYB1nKnpl/c9NHHioU4FIfgGdcAu8V8cg7YAAAAASUVORK5CYII="
        alt="shopping-cart"
        class="rounded-md bg-purple-200 hover:bg-purple-300 transition-all p-2 w-12 cursor-pointer"
      >
    </section>
		<section id="hero" class="px-2 md:px-4 py-10">
			<h1>
        Bienvenidos a <code><pre>Khipu Commerce!</pre></code>
			</h1>
      <p class="py-5 text-gray-300">
        Donde podrás encontrar los mejores descuentos en nuestras tiendas afiliadas.
      </p>
			<section id="links">
				<a class="button" href="https://docs.astro.build">Khipu docs</a>
			</section>
		</section>
	</main>
</div>

<style>
	#container {
		font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	}

	main {
		display: flex;
    flex-direction: column;
	}

	#hero {
		display: flex;
		align-items: start;
		flex-direction: column;
		justify-content: center;
	}

	h1 {
		font-size: 22px;
		margin-top: 0.25em;
	}

	#links {
		display: flex;
		gap: 16px;
	}

	#links a {
		display: flex;
		align-items: center;
		padding: 10px 12px;
		color: #111827;
		text-decoration: none;
		transition: color 0.2s;
	}

	#links a:hover {
		color: rgb(78, 80, 86);
	}

	#links a svg {
		height: 1em;
		margin-left: 8px;
	}

	#links a.button {
		color: white;
		background: linear-gradient(83.21deg, #3245ff 0%, #bc52ee 100%);
		box-shadow:
			inset 0 0 0 1px rgba(255, 255, 255, 0.12),
			inset 0 -2px 0 rgba(0, 0, 0, 0.24);
		border-radius: 10px;
	}

	#links a.button:hover {
		color: rgb(230, 230, 230);
		box-shadow: none;
	}

	pre {
		font-family:
			ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono',
			monospace;
		font-weight: Bold;
    font-size: 1.5rem;
		background: linear-gradient(14deg, #8347ad 0%, #d0499c 100%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		margin: 0;
	}

	h2 {
		margin: 0 0 1em;
		font-weight: normal;
		color: #111827;
		font-size: 20px;
	}

	p {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.006em;
		margin: 0;
	}

	code {
		display: inline-block;
		background:
			linear-gradient(66.77deg, #ffe9ff 0%, #ffe9ff 100%) padding-box,
			linear-gradient(155deg, #8347ad 0%, #d0499c 18%, #ffe9ff 45%) border-box;
		border-radius: 8px;
		border: 1px solid transparent;
		padding: 6px 8px;
	}

	.box {
		padding: 16px;
		background: rgba(255, 255, 255, 1);
		border-radius: 16px;
		border: 1px solid white;
	}

	#news {
		position: absolute;
		bottom: 16px;
		right: 16px;
		max-width: 300px;
		text-decoration: none;
		transition: background 0.2s;
		backdrop-filter: blur(50px);
	}

	#news:hover {
		background: rgba(255, 255, 255, 0.55);
	}

	@media screen and (max-height: 368px) {
		#news {
			display: none;
		}
	}

	@media screen and (max-width: 768px) {
		#container {
			display: flex;
			flex-direction: column;
		}

		#hero {
			display: block;
			padding-top: 10%;
		}

		#links {
			flex-wrap: wrap;
		}

		#links a.button {
			padding: 14px 18px;
		}

		#news {
			right: 16px;
			left: 16px;
			bottom: 2.5rem;
			max-width: 100%;
		}

		h1 {
			line-height: 1.5;
		}
	}
</style>

<script>
document.getElementById('open-cart')?.addEventListener('click', () => {
    const event = new CustomEvent('cart:open');
    document.dispatchEvent(event);
  });
</script>
